<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{baseURL}}chat.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
    <title>客服聯絡</title>
</head>

<body>
    <div id="chatcontainer">
        <input type="text" id="reqname" value="{{recordemail}}" style="display: none;" readonly>
        <div id="chatheader">
            <div id="exitchat" onclick="window.location.href='/loginsuccess'">退出</div>客服諮詢
        </div>

        <div id="chatbody">

        </div>
        <div id="chatfooter">
            
                <input type="text" id="chatinput" placeholder="請輸入訊息" required>
                <button id="chatsend">傳送</button>
              
        </div>
</body>
<script src="chat.js"></script>

</html>