<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ baseURL }}login.css" type="text/css" />
    <script src="{{ baseURL }}script.js" ></script>
    <title>登入</title>
</head>

<body>
    <div id="headerbar">

        <div id="logo" onclick=" window.scrollTo(0,0);window.location.href='/';">點餐時刻</div>
    </div>

    <section class="food-search text-center">
        <div class="container">
            <h1>登入</h1>
            <form action="/auth/login" method="post">
               <div class="formgroup">
                    <label for="email">信箱</label>
                    <input type="text" id="email" name="=email" class="form-control" required>
                </div>
               
                <div class="formgroup">
                    <label for="password">密碼</label>
                    <input type="password" id="password" name="=password" class="form-control" required>
                </div>
                <button type="submit" class="sunmitbtn">登入</button>
            </form>
            <a href="/register">沒有帳號，點此註冊</a>
            {{#if message}}
            <div style="color: red; background: pink;width:50%;position: relative;left: 50%;transform: translateX(-50%);font-weight:600;" >
                {{message}}
            </div>
            {{/if}}
        </div>
    </section>
</body>

</html>