/*首頁*/
body {
    margin: 0;
    overflow: hidden;
}

.scrolladmin {
    overflow-y: hidden;
}

.scrolladmin.active {
    overflow-y: hidden;
}

#logo {
    width: 150px;
    height: 32px;
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 30px;
    font-weight: 600;
    transform: translate(-5%, -40%);
    cursor: pointer;
    letter-spacing: 5px;
}

#headerbar {
    width: 100%;
    height: 100px;
    position: fixed;
    transition: 0.5s;
    z-index: 4;
}

#main {
    width: 100%;
    height: 745px;
    background: url(./bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#options {
    width: 100%;
    height: 600px;
}

#sidebarbtn {
    width: 32px;
    height: 32px;
    background: url(./sidebar1.png);
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-5%, -50%);
    cursor: pointer;

}

.hideside {
    position: fixed;
    height: 745px;
    width: 100%;
    z-index: -1;
}

.hideside.active {
    background-color: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(10px);
    z-index: 5;
}

.sidebars {
    position: fixed;
    background: none;
    width: 300px;
    height: 745px;
    z-index: -1;
    transform: translateX(-300px);
    transition: 0.5s;

}

.sidebars.active {
    position: fixed;
    width: 300px;
    height: 745px;
    z-index: 6;
    background: white;
    transition: 0.5s;
    transform: translateX(0);

}

#maintitle {
    position: absolute;
    top: 40%;
    left: 10%;
    transform: translate(-10%, -40%);
    font-size: 40px;
    font-weight: 600;
    line-height: 80px;
}


#mainbtn {
    width: 300px;
    height: 80px;
    position: absolute;
    top: 65%;
    left: 15%;
    transform: translate(-15%, -65%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#chatme {
    width: 120px;
    height: 65px;
    background-color: white;
    text-align: center;
    line-height: 58px;
    border-radius: 10px;
    font-size: 25px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 0.5px 0.5px 1px 1px;
    transition: 0.5s;
}

#orderfood {
    width: 120px;
    height: 65px;
    background-color: black;
    text-align: center;
    color: white;
    line-height: 58px;
    border-radius: 10px;
    font-size: 25px;
    cursor: pointer;
    box-shadow: 0.5px 0.5px 1px .5px white;
    transition: 0.5s;
}

.orderfood {
    width: 120px;
    height: 50px;
    text-align: center;
    color: black;
    line-height: 58px;
    border-radius: 10px;
    font-size: 25px;
    cursor: pointer;
    box-shadow: 0.5px 0.5px 1px .5px black;
    transition: 0.5s;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -60%);
}

.orderfood:hover {
    box-shadow: none;
    border: 1px solid black;
}

#chatme:hover {
    background-color: gray;
}

#orderfood:hover {
    background-color: gray;
}

/* CSS 種類 */
.categories {
    padding: 4% 0;
    font-size: 30px;

}

.box-3 {
    width: 28%;
    float: left;
    margin: 2%;

}

.img-responsive {
    width: 100%;
}

.img-curve {
    border-radius: 15px;
}

.text-white {
    color: white;
}

.float-container {
    position: relative;
}

.float-text {
    position: absolute;
    bottom: 50px;
    left: 40%;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1%;

}

.text-center {
    text-align: center;
}

/*=================================================*/

.social ul {
    list-style-type: none;
}

.social ul li {
    display: inline;
    padding: 1%;

}



#loginsystem {
    width: 280px;
    height: 100px;

    float: right;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}


#login {
    background: white;
    width: 40%;
    height: 60%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    box-shadow: 0.5px 0.5px 1px .5px black;
}


#signup {
    background: white;
    width: 40%;
    height: 60%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    box-shadow: 0.5px 0.5px 1px .5px black;
}

#loginhideside {
    width: 90%;
    height: 10%;
    background-color: black;
    color: white;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    top: 5%;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}

#signuphideside {
    width: 90%;
    height: 10%;
    background-color: white;
    color: black;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    top: 10%;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid black;
}


.logout-button {
    background: white;
    width: 40%;
    height: 60%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    box-shadow: 0.5px 0.5px 1px .5px black;
}

.personbutton {
    background: black;
    width: 40%;
    height: 60%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    color: white;
    font-weight: 600;
    box-shadow: 0.5px 0.5px 1px .5px white;
}

#personpage {
    width: 40%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
}



#personanme {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    justify-content: space-around;
    font-size: x-large;

}


#personemail {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    justify-content: space-around;
    font-size: x-large;
}

#buytimes {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    justify-content: space-around;
    font-size: x-large;
}

#homelocation {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    justify-content: space-around;
    font-size: x-large;
}

#homelocationinput {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    justify-content: space-around;
    font-size: x-large;
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
   
}

.modifylocation {
    width: 10%;
    box-shadow: 1px 1px 1px 1px black;
    text-align: center;
    float: right;
    cursor: pointer;
}

.modifylocation:hover {
    box-shadow: none;
    border: 1px solid black;
}



#nonlocationmodify {
    display: none;
}


@media only screen and (max-width: 900px) {
    #personpage {
        width: 80%;
        height: 70%;
        background-color: rgba(255, 255, 255, 0.65);
        border-radius: 10px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        backdrop-filter: blur(10px);
    }

    #homelocation {
        font-size: large;
    }

    .modifylocation {
        font-size: 18px;
    }
}

@media only screen and (max-width: 500px) {
    #loginsystem {
        width: 40%;
        margin-left: 0;
    }

    #personemail {
        font-size: 18px;
    }

    #personanme {
        font-size: 20px;
    }

    #buytimes {
        font-size: 20px;
    }

    #homelocation {
        font-size: 20px;
        display: flex;
        justify-content: center;
        position: relative;
        left: 8%;
        width: 90%;
    }

    #homelocationinput {
        width: 80%;
    }

    .modifylocation {
        margin-left: -10px;
        width: 15%;
    }
}